.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  display: inline-block;
  padding: 9px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: 0;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

section {
  margin-bottom: 6rem;
}

.red-link {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
}

.red-link a {
  text-decoration: underline;
  color: #ed563b;
  font-weight: 500;
  padding-right: 10px;
  transition: all 0.2s;
}

.red-link a:hover {
  text-decoration: none;
  padding-right: 15px;
}

.call-to-action .btn {
  background: #ed563b;
  padding: 0.7rem 2.5rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.call-to-action .btn:hover {
  color: #ed563b;
  background: #ffffff;
  border: 2px solid #ed563b;
}

.call-to-action p {
  font-size: 0.9rem;
  font-weight: 300;
}

.u-line a {
  position: relative;
}

.u-line a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1.5px;
  background: currentColor;
  transition: width 0.2s;
}

.u-line:hover > a::before {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: #1e1d1e;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  position: sticky;
  top: -20px;
  z-index: 999;
  background: #ffffff;
  font-weight: 700;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  font-weight: 900;
  padding: 2rem;
}

.header__logo {
  position: relative;
}

.header__logo::after {
  content: "beta";
  position: absolute;
  margin-left: 5px;
  padding: 3px 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 11px;
  line-height: 1;
  color: #1e1d1e;
  transform: rotate(-8deg);
}

.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-right: 2rem;
}

.header__nav > ul li {
  padding: 0 1rem;
}

.header__nav > ul li a {
  position: relative;
}

.header__nav > ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.2s;
}

.header__nav > ul li:hover > a::before {
  width: 100%;
}

.header__nav > ul .dropdown {
  position: relative;
  padding: 1rem;
}

.header__nav > ul .dropdown a img {
  padding-left: 0.5rem;
  padding-bottom: 2px;
  transition: all 0.2s;
}

.header__nav > ul .dropdown ul {
  position: absolute;
  top: 55px;
  left: -20px;
  min-width: 350px;
  display: none;
  padding: 1rem 0;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.09);
}

.header__nav > ul .dropdown ul::before, .header__nav > ul .dropdown ul::after {
  content: "";
  position: absolute;
  left: 40px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ddd;
}

.header__nav > ul .dropdown ul::after {
  z-index: 5;
  top: -9px;
  border-bottom-color: #fff;
}

.header__nav > ul .dropdown ul li {
  padding: 0.5rem 2rem;
  transition: padding 0.2s;
}

.header__nav > ul .dropdown ul li a::before {
  height: 0;
}

.header__nav > ul .dropdown ul li > a:hover {
  text-decoration: underline;
}

.header__nav > ul .dropdown ul li:hover {
  background: #eee;
  padding-left: 2.5rem;
}

.header__nav > ul .dropdown ul li span {
  display: block;
  font-weight: normal;
  font-size: 0.9rem;
}

.header__nav > ul .dropdown:hover > ul {
  display: block;
}

.header__nav > ul .dropdown:hover > a > img {
  transform: rotate(180deg);
  translate: 6px -3px;
}

.header__buttons {
  align-items: center;
}

.header__buttons a + a {
  margin: 0 0.5rem;
}

.header__buttons .btn--light {
  background: #ffffff;
  border: 2px solid #1e1d1e;
  color: #1e1d1e;
}

.header__buttons .btn--light:hover {
  background: #1e1d1e;
  color: #ffffff;
}

.header__buttons .btn--dark {
  background: #1e1d1e;
  color: #ffffff;
}

.header__buttons .btn--dark:hover {
  background: #ffffff;
  border: 2px solid #1e1d1e;
  color: #1e1d1e;
}

.intro {
  text-align: center;
  margin-top: 1rem;
}

.intro__text--small {
  font-weight: 900;
  margin-bottom: 1rem;
}

.intro__text h1 {
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 2rem;
  font-weight: 900;
}

.intro__text--med {
  max-width: 700px;
  margin: 0 auto 2rem;
  font-size: 1.4rem;
  font-weight: normal;
}

.intro__call-to-action .btn {
  background: #ed563b;
  padding: 0.7rem 2.5rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.intro__call-to-action .btn:hover {
  color: #ed563b;
  background: #ffffff;
  border: 2px solid #ed563b;
}

.intro__call-to-action p {
  font-size: 0.9rem;
  font-weight: 300;
}

.diff__contents {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.diff__contents-old, .diff__contents-kitchen {
  flex: 5;
}

.diff__contents-old h2, .diff__contents-kitchen h2 {
  margin-bottom: 2rem;
}

.diff__contents-vs {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

.diff__contents-vs::before, .diff__contents-vs::after {
  content: "";
  width: 1px;
  background: #ddd;
  flex: 1;
}

.diff__contents-vs span {
  color: #8a8282;
  padding: 7px 0;
  font-size: 1.2rem;
}

.view {
  margin: 4.5rem;
}

.view__info {
  text-align: center;
}

.view__info h5 {
  margin-bottom: 0.9rem;
}

.view__info h2 {
  font-size: 3rem;
  max-width: 950px;
  margin: 0 auto;
  line-height: 1.1;
  margin-bottom: 0.9rem;
}

.view__info p {
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 400;
  max-width: 770px;
  text-align: center;
}

.view__body {
  margin-top: 4rem;
}

.view-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-main__nav ul {
  display: flex;
}

.view-main__nav ul li button {
  font-weight: 700;
  display: inline-block;
  width: 135px;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: 1px solid #1e1d1e;
  background: transparent;
  border-bottom: none;
}

.view-main__nav ul li .btn-manager {
  border: 1px solid #ed563b;
  border-top-left-radius: 5px;
  border-bottom: none;
  background: transparent;
  color: #ed563b;
}

.view-main__nav ul li .btn-manager.active {
  border: 1px solid transparent;
  border-right: 0;
  background: #1e1d1e;
  color: #fff;
}

.view-main__nav ul li .btn-client {
  border-top-right-radius: 5px;
  border-left: none;
}

.view-main__nav ul li .btn-client.active {
  background: #ed563b;
  color: #fff;
  border: transparent;
  border-bottom: 1px solid #ed563b;
}

.view-main__switch {
  display: none;
  position: relative;
}

.view-main__image {
  z-index: 5;
  position: relative;
}

.view-main .active-img {
  display: block;
}

.view-main__img-info {
  position: absolute;
  max-width: 120px;
  line-height: 1.2;
  font-size: 0.9rem;
  font-weight: 500;
  top: 0;
  right: -10rem;
}

.view-main__img-info::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100px;
  top: -35px;
  left: -30px;
  border: 2px solid #8b8a8a;
  border-left: 0;
}

.view-main__img-info::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: #8b8a8a;
  left: -20px;
}

.view-main .info-first {
  top: 135px;
}

.view-main .info-second {
  top: 247px;
}

.view-main .info-third {
  top: 356px;
}

.view-main .info-third::before {
  height: 90px;
  top: -30px;
}

.view-main .info-fourth {
  top: 487px;
}

.view-main .info-fourth::before {
  height: 150px;
  top: -55px;
}

.view-main .info-fifth {
  top: 650px;
  left: 120px;
  max-width: 500px;
  text-align: center;
}

.view-main .info-fifth::before {
  top: -28px;
  width: 580px;
  height: 8px;
  border: 2px solid #8b8a8a;
  border-top: 0;
}

.view-main .info-fifth::after {
  width: 2px;
  height: 8px;
  background: #8b8a8a;
  top: -18px;
  left: 255px;
}

.view-main .info-sixth {
  top: 200px;
  left: -230px;
  text-align: center;
  z-index: 1;
  position: absolute;
}

.view-main .info-sixth img {
  max-width: initial;
  width: 250px;
}

.view-main .info-sixth span {
  text-align: center;
  position: absolute;
  top: -50px;
  left: 80px;
  width: 115px;
}

.view-main .info-sixth::before {
  top: 0;
  left: 55px;
  width: 155px;
  height: 8px;
  border: 2px solid #8b8a8a;
  border-bottom: 0;
}

.view-main .info-sixth::after {
  width: 2px;
  height: 8px;
  background: #8b8a8a;
  top: -8px;
  left: 135px;
}

.view-main .client-image .info-sixth {
  top: 220px;
}

.view-main .client-image .info-sixth span {
  top: -65px;
  left: 65px;
  width: 150px;
}

.view-main .client-image .info-first {
  top: 135px;
}

.view-main .client-image .info-first::before {
  top: -27px;
  height: 69px;
}

.view-main .client-image .info-first::after {
  top: 11px;
}

.view-main .client-image .info-second {
  top: 226px;
}

.view-main .client-image .info-second::before {
  top: -27px;
  height: 85px;
}

.view-main .client-image .info-second::after {
  top: 11px;
}

.view-main .client-image .info-third {
  top: 340px;
}

.view-main .client-image .info-third::before {
  top: -27px;
  height: 85px;
}

.view-main .client-image .info-third::after {
  top: 11px;
}

.view-main .client-image .info-fourth {
  top: 480px;
}

.info {
  margin-top: 7rem;
  background: #f8f6f4;
  padding: 1rem 4rem;
  text-align: center;
  position: relative;
}

.info::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 24px;
  bottom: -24px;
  background-image: url(../img/icons/wave-bottom-decoration.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.info h2 {
  font-size: 2rem;
  font-weight: 500;
  max-width: 800px;
  margin: 0 auto;
}

.use-case h5 {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.use-case h2 {
  text-align: center;
  font-size: 2.2rem;
}

.use-case__contents {
  margin-top: 4rem;
  display: flex;
}

.use-case__img {
  width: 50%;
}

.use-case__texts {
  width: 50%;
  padding: 0 3rem 0 4rem;
}

.use-case__texts .text-top h6 {
  font-size: 1rem;
}

.use-case__texts .text-top h3 {
  padding: 0.7rem 10rem 1.2rem 0;
  font-size: 3rem;
  line-height: 1.1;
}

.use-case__texts .text-top p {
  margin-top: 1.2rem;
  line-height: 1.7;
  padding-right: 4rem;
  font-size: 1.1rem;
}

.use-case__texts .text-bottom {
  padding-right: 4rem;
  margin-top: 2.5rem;
}

.use-case__texts .text-bottom p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.use-case__texts .text-bottom ul li {
  font-size: 1.1rem;
  padding-bottom: 0.7rem;
  padding-left: 1.8rem;
  position: relative;
}

.use-case__texts .text-bottom ul li::before {
  content: "";
  position: absolute;
  background: url("../img/icons/checkmark-alt.svg");
  top: 6px;
  left: -1px;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
}

.use-case__texts .text-link {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
}

.use-case__texts .text-link a {
  text-decoration: underline;
  color: #ed563b;
  font-weight: 500;
  padding-right: 10px;
  transition: all 0.2s;
}

.use-case__texts .text-link a:hover {
  text-decoration: none;
  padding-right: 15px;
}

.testimonial .testimonial__content {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  border: 2px solid #f8f6f4;
  position: relative;
}

.testimonial .testimonial__content .test-img {
  position: absolute;
  top: -45px;
  left: 50%;
}

.testimonial .testimonial__content .test-img::before {
  content: "";
  position: absolute;
  background: url("../img/icons/testimonial-icon1.svg");
  height: 100%;
  top: -10px;
  left: -36px;
  right: 0%;
  background-repeat: no-repeat;
  z-index: 9;
}

.testimonial .testimonial__content .test-img::after {
  content: "";
  position: absolute;
  background: url("../img/icons/testimonial-icon2.svg");
  height: 100%;
  top: 22px;
  left: 74px;
  right: -100%;
  background-repeat: no-repeat;
  z-index: 9;
}

.testimonial .testimonial__content h2 {
  margin-bottom: 1rem;
}

.testimonial .testimonial__content small span {
  font-weight: bold;
}

.features {
  background: #f8f6f4;
  padding-bottom: 4rem;
  margin-bottom: 0;
}

.features .features__contents {
  text-align: center;
}

.features__head {
  padding: 4rem;
  max-width: 650px;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1;
}

.features__items {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 0 2rem 4rem;
}

.features__items .item-img {
  margin-bottom: 1rem;
}

.features__items .item-text h3 {
  margin-bottom: 1rem;
}

.features__items .item-text p {
  max-width: 75%;
  margin: 0 auto;
}

.features__info h3 {
  margin-bottom: 0.9rem;
  word-spacing: 2px;
  font-size: 1.1rem;
}

.features__info p {
  max-width: 45%;
  margin: 0 auto;
}

.features__info .feature-link {
  justify-content: center;
}

.yellow {
  background: #ffdc4c;
  text-align: center;
  padding: 2rem;
  color: #1d1d1d;
}

.yellow h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.yellow p {
  margin-bottom: 2rem;
}

.yellow__call-to-action .btn:hover {
  background: #ffdc4c;
}

.footer {
  margin-bottom: 4rem;
}

.footer__main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.footer .item-logo {
  width: 120%;
  margin-right: 3rem;
  justify-self: center;
}

.footer .item-logo .footer-logo {
  margin-bottom: 1rem;
}

.footer .footer-list h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer .footer-list ul li {
  padding: 0.3rem 0;
}

.footer hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 0.5rem;
}

.footer .footer__end {
  font-size: 0.8rem;
  float: right;
  position: relative;
  left: -88px;
}

.footer .footer__end a {
  transition: all 0.2s;
}

.footer .footer__end a:hover {
  font-weight: 500;
}

.footer .footer__end span {
  color: #777;
}

@media (max-width: 1024px) {
  .header__wrapper {
    grid-template-columns: 1fr 7fr;
  }
  .header__wrapper .header__content {
    margin-left: 2rem;
    font-size: 90%;
  }
  .header__wrapper .header__content .header__nav ul {
    margin-right: 0;
  }
  .view .view-main__img-info {
    display: none;
  }
  .use-case__contents {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
  }
  .use-case__img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .use-case__texts {
    width: 100%;
  }
  .use-case__texts .text-top h3 {
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
  }
  .use-case__texts .text-link {
    display: block;
  }
}

@media only screen and (min-width: 550px) and (max-width: 800px) {
  .header {
    padding-top: 25px;
    top: 0;
  }
  .header__wrapper .header__logo {
    align-self: start;
    margin-top: 1rem;
  }
  .header__wrapper .header__content {
    flex-direction: column;
  }
  .header__wrapper .header__content .header__nav ul li {
    z-index: 5;
  }
  .header__wrapper .header__content .header__nav {
    margin-bottom: 2rem;
  }
  .header__wrapper .header__content .header__buttons {
    position: relative;
    left: -40px;
    z-index: 1;
  }
  .header__wrapper .header__content .header__buttons a {
    display: inline;
    width: 100%;
  }
}

@media (max-width: 800px) {
  section {
    margin-bottom: 4rem;
  }
  .intro__text h1 {
    font-size: 3rem;
  }
  .diff__contents {
    flex-direction: column;
  }
  .diff__contents-vs {
    flex-direction: row;
    margin: 2rem 0;
  }
  .diff__contents-vs::before, .diff__contents-vs::after {
    height: 1px;
  }
  .diff__contents-vs span {
    padding: 0 0.5rem;
  }
  .info h2 {
    font-size: 1.8rem;
  }
  .testimonial .testimonial__content .test-img {
    left: 44%;
  }
  .features__contents .features__items {
    flex-wrap: wrap;
  }
  .features__contents .features__items .item {
    padding: 1.5rem 0;
  }
  .features__contents .features__info h3 {
    word-spacing: normal;
  }
  .features__contents .features__info p {
    max-width: 70%;
  }
  .footer__main {
    grid-template-columns: 1fr;
    text-align: center;
    padding-left: 0;
  }
  .footer__main .item-logo {
    margin: 0;
  }
  .footer__main .item-logo .footer-logo {
    margin-bottom: 0.5rem;
  }
  .footer__main .item-logo p {
    max-width: 60%;
    margin: 0 auto;
  }
  .footer .footer-list {
    margin-top: 1.5rem;
  }
  .footer .footer-list h2 {
    margin-bottom: 0.3rem;
  }
  .footer .footer__end {
    position: static;
    text-align: center;
    float: none;
  }
  .footer .footer__end span {
    padding: 0 0.5rem;
  }
}

@media (max-width: 500px) {
  section {
    margin-bottom: 2rem;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header {
    padding-bottom: 2rem;
  }
  .header__wrapper {
    position: relative;
  }
  .header__wrapper .header__logo img {
    width: 150%;
    height: auto;
    max-width: none;
  }
  .header__wrapper .header__logo::after {
    font-size: 7px;
    top: -3px;
    left: 54px;
  }
  .header__wrapper .header__content {
    margin-left: 7rem;
  }
  .header__wrapper .header__content .header__nav {
    position: absolute;
    font-size: 90%;
    top: 90px;
    left: 20px;
    z-index: 99;
    background: #fff;
  }
  .header__wrapper .header__content .header__nav ul li {
    padding: 0 0.5rem;
  }
  .header__wrapper .header__content .header__nav ul li a {
    font-size: 11px;
  }
  .header__wrapper .header__content .header__nav > ul .dropdown a img {
    padding-left: 0.1rem;
  }
  .header__wrapper .header__content .header__nav > ul .dropdown ul {
    top: 40px;
    padding: 0.5rem 1rem;
    min-width: 250px;
  }
  .header__wrapper .header__content .header__nav > ul .dropdown ul li:hover {
    padding-left: 1rem;
  }
  .header__wrapper .header__content .header__nav > ul .dropdown:active > ul {
    display: block;
  }
  .header__wrapper .header__content .header__buttons a {
    font-size: 10px;
    padding: 5px;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro .intro__text--med {
    font-size: 1.2rem;
  }
  .intro__call-to-action .btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  .intro__call-to-action p {
    font-size: 0.7rem;
  }
  .view {
    margin: 2rem;
  }
  .view h2 {
    font-size: 2rem;
  }
  .view p {
    font-size: 1rem;
  }
  .view-main .view-main__image {
    position: relative;
    left: -32px;
  }
  .view-main .view-main__image img {
    max-width: none;
    width: 120%;
  }
  .info {
    margin-top: 2rem;
    padding: 0;
  }
  .info h2 {
    font-size: 1.5rem;
    max-width: 100%;
  }
  .use-case .text-top h3 {
    padding: 0;
    font-size: 1.4rem;
  }
  .use-case .text-top p {
    padding: 0;
    font-size: 1rem;
  }
  .use-case .text-bottom {
    padding-right: 0;
  }
  .use-case .text-bottom p {
    font-size: 1rem;
  }
  .use-case .text-bottom ul li {
    font-size: 0.9rem;
    padding-left: 0;
  }
  .use-case .text-bottom ul li::before {
    left: -15px;
  }
  .use-case .text-link {
    font-size: 0.8rem;
  }
  .testimonial .testimonial__content {
    padding: 3rem 0;
  }
  .testimonial .testimonial__content .test-img {
    left: 36%;
  }
  .testimonial .testimonial__content h2 {
    font-size: 1.1rem;
  }
  .features__head {
    padding: 0;
    max-width: 100%;
    font-size: 1.18rem;
    padding-bottom: 8px;
  }
  .yellow h2 {
    font-size: 2rem;
  }
  .yellow__call-to-action .btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  .yellow__call-to-action p {
    font-size: 0.8rem;
  }
}
